@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@1,200;1,400&family=Roboto+Mono:wght@500&display=swap');
.carousel-item {
    height: 32rem;

}

.navbar-brand{
    font-family: 'Roboto Mono', monospace; 
    font-size: 40px;
    font-weight: 600;
}